# Some sample names.
# lines starting hash are comments
# Blank lines are ignored

Max Payne
Jim Bob
Prime Minister
Barry Chuckle
Billy Joel
Gunther Tralala
Tony Blackburn
Terrance Philip
David Hasslehoff
Sonic Hedgehog
Shephard Naeme
Monty Python
Richard OBrian
Adolf Hitler
Thomas Tank
Mr T
Towel Rack
Bruce Willis
